{% set mode_0750_files = {
				'/etc/cron.d'		:	'cron_d',
				'/etc/cron.daily'	:	'cron_daily',
				'/etc/cron.hourly'	:	'cron_hourly',
				'/etc/cron.monthly'	:	'cron_monthly',
				'/etc/cron.weekly'	:	'cron_weekly',
				'/etc/security'		:	'security',
  }
%}
