{% set mode_0400_files = {
                '/etc/crontab'          :   'crontab',
                '/etc/securetty'        :   'securetty',
                '/root/.bash_profile'   :   'bashprof',
                '/root/.bashrc'         :   'bashrc',
                '/root/.cshrc'          :   'cshrc',
                '/root/.tcshrc'         :   'tcshrc',
                '/var/log/lastlog'      :   'lastlog',
  }
%}
