{% set mode_0444_files = {
                '/etc/bashrc'       :   'etc_bashrc',
                '/etc/csh.cshrc'    :   'etc_csh.cshrc',
                '/etc/csh.login'    :   'etc_csh.login',
                '/etc/hosts'        :   'etc_hosts',
                '/etc/networks'     :   'etc_networks',
                '/etc/profile'      :   'etc_profile',
                '/etc/services'     :   'etc_services',
                '/etc/shells'       :   'etc_shells',
  }
%}
