{% set mode_0600_files = {
				'/etc/at.deny'                  :   'at.deny',
				'/etc/audit/audit.rules'        :   'audit.rules',
				'/etc/audit/auditd.conf'        :   'auditd.conf',
				'/etc/cron.deny'                :   'cron.deny',
				'/etc/cups/client.conf'         :   'client.conf',
				'/etc/cups/cupsd.conf'          :   'cupsd.conf',
				'/etc/inittab'                  :   'inittab',
				'/etc/ntp.conf'                 :   'ntp.conf',
				'/etc/rc.d/rc.local'            :   'rc.d_rc.local',
				'/etc/rc.local'                 :   'rc.local',
				'/etc/security/console.perms'	:   'console.perms',
				'/etc/skel/.bashrc'             :   'bashrc',
				'/etc/sysctl.conf'              :   'sysctl.conf',
				'/root/.bash_logout'            :   'bash_logout',
				'/var/log/dmesg'                :   'dmesg',
				'/var/log/wtmp'                 :   'wtmp',
  }
%}
