name: Run salt tests
on:
  pull_request:

concurrency:
  group: test-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: plus3it/actions-workflows/.github/workflows/test-salt-linux.yml@78caa4f6a2b5426af0ade68fb706176ee58fda84
    strategy:
      matrix:
        os_version:
          - 8
          - 9
        salt_state:
          - ash-linux.iavm
          - ash-linux.stig
          - ash-linux.vendor
        salt_pillar_root:
          - ./tests/pillar/test-linux-main
    with:
      salt-os-version: ${{ matrix.os_version }}
      salt-state: ${{ matrix.salt_state }}
      salt-pillar-root: ${{ matrix.salt_pillar_root }}
